version: 1.0.{build}
image: Visual Studio 2017
build:
  verbosity: minimal
  
after_build:
- 7z a AppveyourTest.zip "%APPVEYOR_BUILD_FOLDER%\SkatePark Pinball.exe"
- 7z a AppveyourTest.zip "%APPVEYOR_BUILD_FOLDER%\pinball"
- 7z a SpikeFromAppveyor.zip "%APPVEYOR_BUILD_FOLDER%\README.md"
